.Toolbar {
  margin-top: -33px;
  display: flow-root;
  width: 100%;
  /* background-color: #c9c9c9; */
  background-color: black;
  border: solid #e0e0e0;
  position: fixed;
  border-radius: 12px;
  z-index: 1;
  height: 65px;
  justify-content: space-around;
  font-weight: bold;
  background-size: cover;
}

.Toolbar p {
  color: black;
  letter-spacing: 2px;
  padding-top: 10px;
}

body {
  overflow: clip;
}

.button {
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 64px;
  width: 64px;
  padding-top: 10px;
  margin-top: 1px;
}

.icon {
  background-color: black;
}
